<configuration>
  <system.webServer>

    <httpProtocol>
      <customHeaders>
        <!-- CORS -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />

        <!-- CSP -->
        <add name="Content-Security-Policy" value="
          default-src 'self';

          script-src 'self'
            'unsafe-inline'
            'unsafe-eval'
            https://*.gstatic.com
            https://*.googleapis.com;

          style-src 'self'
            'unsafe-inline'
            https://cdnjs.cloudflare.com
            https://fonts.googleapis.com;

          font-src 'self'
            https://cdnjs.cloudflare.com
            https://fonts.gstatic.com
            data:;

          img-src 'self'
            data:
            https://*.gstatic.com
            https://*.googleapis.com
            https://*.firebaseapp.com;

          connect-src 'self'
            https://*.googleapis.com
            https://firestore.googleapis.com
            https://*.firebaseio.com
            https://*.firebaseapp.com
            https://*.firebase.com
            https://*.google.com
            wss://*.firebaseio.com
            wss://*.googleapis.com;

          frame-src 'self'
            https://accounts.google.com
            https://*.firebaseapp.com;
        " />
      </customHeaders>
    </httpProtocol>

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
