:host {
  display: block;
  min-height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.flex {
  display: flex;
}

::ng-deep {
  .p-toast {
    z-index: 9999;
  }

  app-forgot-password-hero,
  app-forgot-password-form {
    display: block;
  }
}

@media (max-width: 1023px) {
  .flex {
    flex-direction: column;
  }

  app-forgot-password-form {
    flex: none;
    width: 100%;
  }

  app-forgot-password-hero {
    display: none !important;
  }
}
